#error-notifier.hidden-notifier.fixed.left-0.bottom-0.w-screen.p-4.flex.justify-end.duration-300
  .w-full.sm:max-w-md.p-4.bg-red-500.text-white.rounded-lg.flex.justify-between.items-center
    = material_icon.shape(:error).outlined.md_36
    %p.text-lg
      Sample text

= javascript_include_tag "notifier/error_notifier"
