#success-notifier.hidden-notifier.fixed.left-0.bottom-0.w-screen.p-4.flex.justify-end.duration-300
  .w-full.sm:max-w-64.p-4.bg-green-500.text-white.rounded-lg.flex.justify-between
    = image_tag('icons/checkmark.svg', alt: "Success", class: "invert w-8 h-8")
    %p.text-lg
      Sample text

= javascript_include_tag "notifier/success_notifier"
