.flex.justify-center.items-center.size-full.p-4
  .shadow-md.rounded-lg.bg-white.p-4
    %h1.text-xl
      = "Welcome to the Freshly, #{@login.username}!"
    %p
      %span
        You can
      = link_to "log in", user_login_path, class: "text-blue-500 inline-block"
      %span
        now.