.flex.flex-col.justify-center.items-center{ class: "h-full w-full" }
  .flex.flex-col.justify-center.items-center{ class: "w-8/12" }
    = controlled_form user_request_password_reset_path, id: "login-form",  method: :get do
      .flex.flex-col.justify-center.items-start.shadow-xl.rounded-md.p-4.border-1.bg-white
        .flex.flex-col.justify-center.items-center.text-xl.font-bold.mb-4.w-full
          = "Recover your account"
        %label{for: "email"}
          = "Email"
        %input{type: "email", name: "email", id: "email", required: true, class: "rounded-md p-2 w-full"}
        .flex.flex-row.justify-between.items-center.mt-4
          %button{type: "submit", class: "bg-primary-500 text-white rounded-md p-2"}
            = "Recover Account"
