.container.mx-auto.px-4.py-8
  .flex.flex-col.justify-center.items-center.w-full
    %h1.text-2xl.font-semibold.mb-4.text-center All Products
    %button.flex.place-self-end.my-4.border.bg-primary-500.rounded-md.text-white.px-4.p-2
      = link_to "Add Product", create_product_user_products_path

  .overflow-x-auto
    %table.border.border-slate-600.border-collapse.w-full.table-auto
      %thead
        %tr.bg-gray-400
          %th.py-3.px-4.font-medium.text-left Product Name
      %tbody
        - @products.each_with_index do |product, row_index|
          - product_row_class = row_index.even? ? "bg-slate-100" : "bg-slate-200"
          %tr{ class: product_row_class }
            %td.py-3.px-4
              = link_to product.name, user_product_path(product)