.container.mx-auto.px-4.py-8
  %h1.text-2xl.font-semibold.mb-4.text-center All Products

  .overflow-x-auto
    %table.border.border-slate-600.border-collapse.w-full.table-auto
      %thead
        %tr.bg-gray-400
          %th.py-3.px-4.font-medium.text-left Product Name
      %tbody
        - @products.each_with_index do |product, row_index|
          - product_row_class = row_index.even? ? "bg-slate-100" : "bg-slate-200"
          %tr{ class: product_row_class }
            %td.py-3.px-4
              = link_to product.name, user_product_path(product)

  .mt-8.flex.justify-center
    = link_to "Back", user_root_path, class: "bg-gray-100 py-2 px-4 rounded-lg text-gray-600 hover:text-gray-800 font-medium"
