.flex.justify-center.items-center.h-full
  = form_with url: "/test", method: "get", id: "my_form", class: "flex flex-col w-full max-w-lg p-8 bg-slate-400 rounded-lg" do |f|
    .flex.justify-between.items-center.w-full
      = f.label :name, "Name: "
      = f.text_field :name
    = f.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"

:javascript
  const form = new FormController("my_form")
  form.appendMiddleware((data) => {
    console.log("Middleware 1", data)
    return data
  })