.flex.flex-col
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-amber-950 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"