.flex.flex-col.justify-center.items-center.h-screen
  %video#camera{ width: "500px", height: "300px", autoplay: true, style: "display:none;" }
  %button#startScan Start Scanning

:javascript
  document.addEventListener('DOMContentLoaded', function () {
    const startScan = document.getElementById('startScan');
    const video = document.getElementById('camera');
    let scanner;

    startScan.addEventListener('click', function () {

      setTimeout(() => {
        if (!scanner) {
          scanner = new ZXing.BrowserMultiFormatReader();
          scanner.listVideoInputDevices().then((videoInputDevices) => {
            scanner.decodeFromVideoDevice(videoInputDevices[0].deviceId, 'camera', (result, err) => {
              if (result) {
                scanner.stopAsyncDecode();
                scanner.stopContinuousDecode();
                scanner.reset();
                $.ajax({
                  url: "#{search_by_ean_user_products_path}",
                  method: 'GET',
                  data: { ean: result.text }
                }).done((data) => {
                  window.location.href = data.url;
                }).fail((err) => {
                  console.error(err);
                });
              }
              if (err && !(err instanceof ZXing.NotFoundException)) {
                console.error(err);
              }
            });
            video.style.display = 'block';
          }).catch((err) => {
            console.error(err);
          });
        }
      }, 1000);
    });
  });
