%div.fixed.bottom-16.left-4.z-50.w-full{class: "sm:bottom-4"}
  #chat-box.bg-white.shadow-lg.rounded-lg.overflow-hidden.transition-opacity.transform.scale-95.mb-2.hidden{class: "sm:h-[35rem] h-[40rem] w-[90%] sm:w-[30rem]"}
    .content
      = react_component "chat_bot", {send_path: user_chat_send_message_path, messages: ChatBot.get_messages(session[:thread_id])}
  %button#fab.p-8.bg-primary-500.text-white.rounded-lg.shadow-lg.cursor-pointer.flex.justify-center.items-center.overflow-hidden.relative{onclick: "toggleIcon()"}
    %i.mdi.mdi-chat-outline.absolute.text-3xl
    %i.mdi.mdi-menu-down.absolute.opacity-0.text-5xl

:javascript
  let isFirstScenario = true;
  let isChatOpen = false;

  function toggleIcon() {
    const [icon1, icon2] = document.querySelectorAll('#fab i');
    const chatBox = document.getElementById('chat-box');

    if (isFirstScenario) {
      icon1.style.animation = 'exitToTop 0.5s forwards';
      icon2.style.animation = 'enterFromBottom 0.5s forwards';
    } 

    else {
      icon1.style.animation = 'enterFromTop 0.5s forwards';
      icon2.style.animation = 'exitToBottom 0.5s forwards';
    }

    if (isChatOpen) {
      chatBox.style.opacity = '0';
      setTimeout(() => { chatBox.style.display = 'none'; }, 500);
    } else {
      chatBox.style.display = 'block';
      setTimeout(() => {
        chatBox.style.opacity = '1';
        chatBox.style.transform = 'scale(1)';
      }, 10);
    }
    isChatOpen = !isChatOpen;
    chatBox.style.transition = 'opacity 0.5s ease, transform 0.5s ease';

    isFirstScenario = !isFirstScenario;

    icon1.addEventListener('animationend', () => {
      icon1.classList.toggle('opacity-0');
      icon2.classList.toggle('opacity-0');
    }, { once: true });
  }

:css
  @keyframes exitToTop {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
  }

  @keyframes enterFromBottom {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  @keyframes exitToBottom {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(100%); opacity: 0; }
  }

  @keyframes enterFromTop {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
