%a.flex.items-center.p-2.gap-2.bg-white.rounded-lg.shadow{ class: "hover:bg-slate-100 sm:shadow-none", href: notification.link}
  .mdi{ class: "mdi-#{notification.icon} text-2xl" }
  .text-lg
    = notification.message
