.size-full.overflow-y-scroll.flex.flex-col.p-2.gap-2{class: "sm:gap-0 sm:p-0 sm:pr-2"}
  - @notifications.each do |notification|
    = render partial: "notification", locals: {notification: notification}
