- links = [{ icon: :home, path: user_root_path },
 { icon: :search, path: '/search' },
 { icon: :qr_code_scanner, path: "/scan" },
 { icon: :forum, path: "/hub" },
 { icon: :account_circle, path: "/profile" }]

%footer.bg-primary-700.p-2.sm:hidden
  %nav.size-full
    %ul.size-full.flex.justify-around.items-center
      - links.each do |link|
        %li.grid.place-items-center
          = link_to link[:path], class: if current_page?(link[:path]) then "text-primary-300" else "text-white" end do
            = material_icon.shape(link[:icon]).outlined.md_24