%h1.text-lg
  = "Hi, #{@login.user.last_name}!"
%p
  You have requested a password change. Please click the link below to update your password.
= link_to "Reset my password", @reset_password_url
%p
  If you did not request a password change, please ignore this email.