.container.mx-auto.p-4.max-w-2xl.flex.flex-col.gap-6
  = show_post(@post)

  %h1.text-2xl.bg-white.rounded-lg.p-2
    Responses
  - if @post.responses.length == 0
    %p
      No responses yet.
  - else
    .size-full.pl-4.space-y-2
      - @post.responses.each do |response|
        = render "user/hub/posts/post", post: response